/build/
compile_commands.json
.vscode/
# /output/
/output - old/
/output - last/
/output - my PC/
/outputscp
# /Input_Data/
/shortest-path-visualizer/backend/node_modules
/shortest-path-visualizer/frontend/node_modules
*.png
# .py